.centralizarPg {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    transform: scale(0.8);
}

.logoEncejCadastro {
    width: 400px;
    margin-bottom: 60px;
}

.responsividadeTitulo p {
    margin-bottom: 30px;
}

.boxInputs {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.selecEJ {
    margin-top: 8px;
    width: 300px;
    text-align: center;
    border-radius: 5px;
}

.responsividadeFooterCadastro {
    margin-top: 30px;
    transform: scale(1.25);
}

select {
    color: black;
}

option {
    color: black;
}

@media (max-width: 400px) {
    .logoEncejCadastro {
        transform: scale(0.7);
        margin-top: 20px;
    }

    .responsividadeTitulo {
        transform: scale(1.0);
    }

    .boxInputs {
        transform: scale(0.7);
        margin-top: 30px;
    }

    .responsividadeFooterCadastro {
        margin-top: 80px;
        transform: scale(1.0);
    }
}
