.box1 {
    background-color: #FFF;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 50px;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    column-gap: 8px;
}

.verDetalhes {
    background-color: #c2c2c2;
    border-radius: 50px;
    padding: 10px 30px;
    font-size: 12px;
    font-weight: 500;
}

.verDetalhes:hover {
    color: white;
    transform: scale(1.2);
    border-radius: 50px;
    padding: 10px 30px;
    font-size: 12px;
    font-weight: 500;
}

.bttBox {
    margin-left: 320px;
}

.centerLotacao {
    text-align: center;
}

.box1 h3{
    color: black;
}

.box1 p{
    background-color: green;
    border-radius: 5px;
    font-size: 14px;
}

.boxButtons {
    display: flex;
    column-gap: 12px;
    justify-content: center;
}

.button10Q:hover {
    transform: scale(1);
}
