.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.centralizar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.text h1 {
    color: white;
}

.headerDesktopDados {
    display: block;
}

.headerResponsiva {
    display: none;
}

@media (max-width: 400px) {

    .headerDesktopDados {
        display:none;
    }

    .headerResponsiva {
        display: block;
    }
    
    .text {
        font-size: 15px;
        text-align: center;
    }

    .centralizar {
        transform: scale(0.6);
    }

    .ajustarButton {
        margin-top: 50px;
        transform: scale(1.5);
    }

    .responsividadeFooterDados {
        transform: scale(1.0);
    }
}