.centralizarTitulo {
  display: flex;
  justify-content: center;
}

.centralizarParagrafo {
  display: flex;
  justify-content: center;
  text-align: justify;
  font-size: 32px;
  color: #FFF;
}

.centralizarButtons {
  display: flex;
  justify-content: center;
}

.button {
  background-color: #C10046;
  color: #FFF;
  padding: 20px 20px;
  font-size: 20px;
}

.button:hover {
  background-color: #ec4e88;
  color: #FFF;
  padding: 20px 40px;
  transform: scale(1);
  cursor: pointer;
}

.button:active {
  background-color: #ec4e88;
  color: #FFF;
  padding: 20px 40px;
  transform: scale(1);
  cursor: pointer;
}