.centralizarTitulo {
  display: flex;
  justify-content: center;
  font-size: 24px;
  color: #FFF;
  font-weight: 700;
  line-height: 56.25px;
  font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 40px;
}

.centralizarParagrafo {
  display: flex;
  justify-content: center;
  text-align: justify;
  font-size: 24px;
  color: #FFF;
  font-weight: 400;
  font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
  margin: 8px 240px;
  margin-left: 280px;
  margin-right: 280px;
}

.centralizarButtons {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  margin-bottom: 40px;
}

.headerResponsiva {
  display: none;
}

.headerDesktop {
  display: block;
}

@media (max-width: 375px) {
  .headerResponsiva {
    display: block;
  }

  .headerDesktop {
    display: none;
  }

  .centralizarTitulo {
    font-size: 28px;
    width: 248px;
    height: 33px;
    text-align: center;
    margin-left: 63px;
  }

  .centralizarParagrafo {
    font-size: 18px;
    width: 328px;
    height: 168px;
    margin-left: 23.5px;
    margin-bottom: 60px;
  }

  .centralizarButtons {
    transform: scale(0.7);
    margin-bottom: 50px;
  }

  .footerResponsivo {
    transform: scale(1.0);
}

}