.excluir-pessoa-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-excluir-pessoa-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
    margin-top: 40px;
}

.input-excluir-pessoa-center p {
    margin-bottom: 60px;
}

.input-excluir-pessoa-center h1 {
    font-size: 48px;
}

@media (max-width: 375px) {
    .excluir-pessoa-center {
        transform: scale(0.6);
    }

    .input-excluir-pessoa-center h1 {
        font-size: 34px;
    }

    .padding-excluir-pessoa {
        margin-top: 50px;
    }
}