.divisoria {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 40px;
}

.line {
    width: 60%;
    opacity: 0.4;
    display: block;
    margin: 0 auto;
}

.divisoriaDois {
    height: 35px;
}

.boxLegenda {
    display: flex;
    justify-content: center;
}

.legenda {
    height: 38px;
    transition: transform .5s ease;
}

.legenda:hover {
    height: 38px;
    transform: scale(1.1);
    transition-duration: 0.4s;
}

.selecCapacidade {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.selecCapacidade h2{
    font-weight: 500;
    font-size: 32px;
    line-height: 38.32px;
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;;
}

.centralizarButtons {
    display: flex;
    justify-content: center;
}

.botaoQuartos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 40%;
}

.button {
    background-color: #C10046;
    color: #FFF;
    padding: 20px 20px;
    font-size: 20px;
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
}

.button:hover {
    background-color: #ec4e88;
    color: #FFF;
    padding: 20px 40px;
    transform: scale(1);
    cursor: pointer;
}

.button:active {
    background-color: #ec4e88;
    color: #FFF;
    padding: 20px 40px;
    transform: scale(1);
    cursor: pointer;
}

.linha {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px 82px;
}

.coluna-responsiva {
    display: none;
}

@media (max-width: 375px) {
    .boxLegenda {
        transform: scale(0.7);
    }

    .selecCapacidade {
        transform: scale(0.9);
    }
    
    .selecCapacidade h2 {
        font-size: 20px;
    }

    .botaoQuartos {
        transform: scale(1.2);
    }

    .linha {
        display: none;
    }

    .coluna-responsiva {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: scale(0.66);
        margin-left: 25px;
    }

    .selecCapacidade {
        margin-top: 20px;
        height: 30px;
    }
}

