h2 {
    text-align: center;
    font-size: 48px;
    color: #FFF;
}

.centralizar-pg {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    transform: scale(0.8);
}

.logoEncej {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 400px;
}


.inputs-section{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.register {
    text-decoration: underline;
    font-size: 18px;
    cursor: pointer;
    color: #FFF;
    margin-bottom: 40px;
}

.bttLogin {
    margin-bottom: 80px;
}

@media (max-width: 720px) {
    .inputs-section {
        transform: scale(0.8);
    }

    .responsiveFooter {
        transform: scale(0.7);
    }

    h2 {
        font-size: 38px;
    }

    .logoEncej {
        transform: scale(0.7);
    }
}

@media (max-width: 450px) {
    .inputs-section {
        transform: scale(0.7);
    }

    .responsiveFooter {
        transform: scale(0.7);
    }

    h2 {
        font-size: 30px;
    }

    .logoEncej {
        transform: scale(0.7);
    }
}