.header1 {
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
}

.boxUser {
    display: flex;
    margin: 10px;
}

.fotoUser {
    width: 170px;
    height: 160px;
    border-radius: 50%;
    cursor: pointer;
}

.columInfos {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 160px;
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 28.8px;
    line-height: 33.75px;
    font-weight: 500;
    margin-top: 10px;
}

.columInfos h1{
    font-weight: 500;
    font-size: 48px;
    line-height: 56.25px;
}

.logoEncejHeader {
    height: 120px;
    margin-right: 100px;
    margin-top: 30px;
}