.centralizarPg6 {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center ;
}

.boxRoom {
    width: 564px;
    height: 500px;
    border-radius: 6px;
    gap: 40px;
    background-color: #FFF;
}

.title {
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 13.19px;
    color: #000;
    margin-bottom: 50px;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}

.title h1 {
    color: #000;
    text-align: center;
}

.fotoUsuario {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.infos {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    height: 16px;
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    line-height: 16.41px;
    font-weight: 400;
    margin-top: 10px;
    color: #000;
}
    
.infos h2{
    font-weight: 700;
    font-size: 16px;
    line-height: 18.75px;
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
    color: #000;
}

.item {
    display: flex;
    margin: 30px;
}

.column {
    display: flex;
    justify-content: space-between;
}