.header1 {
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
}

.boxUser {
    display: flex;
    margin: 20px;
}

.fotoUser {
    width: 170px;
    height: 160px;
    border-radius: 50%;
}

.columInfos {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 160px;
}

.columInfos h1{
    font-weight: 600;
}

.logoEncej {
    height: 120px;
    margin-right: 100px;
    margin-top: 30px;
}

.boxLegenda {
    display: flex;
    justify-content: center;
}

.legenda {
    height: 38px;
}

.selecCapacidade {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.selecCapacidade h2{
    font-weight: 600;
    font-size: 32px;
}

.centralizarButtons {
    display: flex;
    justify-content: center;
}

.botaoQuartos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 40%;
}

.button {
    background-color: #C10046;
    color: #FFF;
    padding: 20px 20px;
    font-size: 20px;
}

.button:hover {
    background-color: #ec4e88;
    color: #FFF;
    padding: 20px 40px;
    transform: scale(1);
    cursor: pointer;
}

.linha {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px 82px;
}

