.centralizar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.logo-organizadores {
    display: flex;
    justify-content: space-between;
}

.ctj {
    max-width: 268px;
    margin-top: 20px;
    max-height: 61px;
    margin-right: 70px;
}

.juniores {
    width: 310px;
    margin-left: 70px;
}